/****** General ***********/

* {
    font-family: 'Raleway', sans-serif;
}

 :root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}


/****** General ends ***********/


/*HEADER*/

header {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    width: 100%;
}

.logo img {
    width: 61px;
    height: 19px;
}

.links li {
    list-style-type: none;
}

.links {
    display: flex;
    justify-content: space-around;
    gap: 30px;
}

.links a:hover {
    color: var(--main-color);
    border-top: 2px solid var(--main-color);
    padding-top: 15px;
}


/*HEADER END*/


/* SECTION BLOCK STARTS*/

.text_box .textOne {
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0em;
}

.text_box span {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
}

.myform {
    display: flex;
    align-items: center;
}

.myform i {
    width: 25px;
    height: 18px;
    padding: 15px 15px;
    text-align: center;
    border: 1px;
    border-radius: 15px 0px 0px 15px;
    background-color: #F2F2F2;
    color: black;
}

.myform input {
    width: 127px;
    height: 16px;
    padding: 15px;
    border: 1px solid #F2F2F2;
}

.myform a {
    width: 80px;
    height: 18px;
    padding: 15px 16px 15px 16px;
    border-radius: 0px 15px 15px 0px;
    border: 1px;
    color: #FFFFFF;
    background-color: #0065FC;
}

.iconsFiltres {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 1rem;
}

.iconsFiltres a {
    display: flex;
    width: 138px;
    height: 20px;
    padding: 10px;
    border-radius: 25px;
    border: 2px solid #D9D9D9;
}

.iconsFiltres i {
    padding: 0px 10px 0px 5px;
    text-align: center;
}

.lastIcon {
    background-color: #DEEBFF;
    ;
}

.info .infobox {
    display: flex;
    align-items: center;
    gap: 1rem;
}


/* SECTION BLOCK ENDS */


/* MAIN BLOCK STARTS */

aside {
    display: flex;
    margin-top: 20px;
    width: 250px;
    height: 248px;
    padding: 15px;
    border-radius: 20px;
    gap: 2rem;
}

aside a {
    background-color: #ffffff;
    border-radius: 20px 20px;
}

aside img {
    width: 240px;
    height: 124px;
    border-radius: 20px 20px 0px 0px;
    border: 5px solid #FFFFFF;
}

aside .card-text {
    background-color: #ffffff;
    width: 240px;
    height: 124px;
    border: 5px solid #FFFFFF;
    border-radius: 20px 20px;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.section-title-two {
    margin: 0;
    font-size: 22px;
    padding-top: 30px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}


/****** Hebergements And Populaires ***********/

.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}


/****** Hebergements ***********/

.hebergements {
    width: 65%;
}


/****** Populaires ***********/

.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}


/* SECTION ACTIVITE  */

.activite {
    width: 1340px;
    height: 460px;
    margin: 10px 0px 10px 0px;
}

.hebergement_activite {
    width: 1280px;
    height: 440px;
    display: flex;
    justify-content: space-between;
    gap: 2.8rem;
}

.activite-card-title {
    width: 1000px;
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
    margin-top: 40px;
}

.activite-img-text {
    width: 297.5px;
    height: 346px;
    border-radius: 20px;
    margin-top: 15px;
    box-shadow: 0px 3px 15px 0px #0000001A;
}

.activite-img-text img {
    width: 297px;
    height: 280px;
    border-radius: 20px 20px 0px 0px;
}

.activite-img-text p {
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    padding: 10px;
}


/* SECTION ACTIVITE END  */


/* FOOTER  */

.main-footer {
    background-color: #F2F2F2;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

.footer-links {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 1rem;
}

.footer-links li a {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
}

.footer-links li {
    list-style: none;
}


/* FOOTER END  */


/* Medium devices (tablets, less/equal than 1024px) */

@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }
    .hebergements {
        width: 100%;
    }
    aside {
        margin-top: 20px;
        width: 178px;
        height: 246px;
        padding: px;
        border-radius: 20px;
        gap: 2rem;
    }
    aside a {
        background-color: #ffffff;
        border-radius: 20px 20px;
    }
    aside img {
        width: 168px;
        height: 128px;
        border-radius: 20px 20px 0px 0px;
        border: 5px solid #FFFFFF;
    }
    aside .card-text {
        background-color: #ffffff;
        width: 168px;
        height: 48px;
        border: 5px solid #FFFFFF;
        border-radius: 20px 20px;
    }
    .card-block-first .card-text h3 {
        font-size: 14px;
    }
    .card-block-first .card-text p {
        font-size: 12px;
    }
    .card-block-first .card-text i {
        font-size: 10px;
    }
    .populaires {
        width: 100%;
        margin-top: 50px;
    }
    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .populaires-cards a {
        width: 30%;
    }
    .populaires-cards .card-title {
        font-size: 14px;
    }
    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
    .card-content .card-text h3 {
        font-size: 10px;
    }
    .activite {
        width: 95.5%;
        height: 310px;
        padding: 20px;
    }
    .hebergement_activite {
        width: 100%;
        height: 220px;
        padding: 5px;
    }
    .activite-card-title {
        width: 100%;
        font-size: 22px;
        font-weight: 700;
        line-height: 20px;
        margin-top: 10px;
    }
    .activite-img-text {
        width: 100%;
        max-width: 1024px;
        min-width: 100px;
        height: 190px;
        border-radius: 20px;
        margin-top: 10px;
        box-shadow: 0px 3px 15px 0px #0000001A;
    }
    .activite-img-text img {
        width: 100%;
        height: 100px;
        border-radius: 20px 20px 0px 0px;
    }
    .activite-img-text p {
        font-size: 12px;
        font-weight: 700;
        line-height: 18px;
        letter-spacing: 0em;
        text-align: left;
    }
    .main-footer {
        background-color: #F2F2F2;
        width: 100%;
        height: 200px;
        display: flex;
        justify-content: space-around;
        margin-top: 40px;
    }
    .footer-links {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        gap: 0.5rem;
    }
    .footer-links li a {
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0em;
        text-align: left;
    }
    .footer-links li {
        list-style: none;
    }
}


/*Small devices (phones, less than 768px) */

@media (max-width: 767.98px) {
    .logo {
        width: 375px;
        height: 29px;
    }
    .logo img {
        width: 41px;
        height: 9px;
    }
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 375px;
        height: 36px;
        margin: 20px;
        background-color: #0065FC;
    }
    .links a:hover {
        color: var(--main-color);
        border-top: 2px solid var(--main-color);
        padding-bottom: 15px;
    }
    .text_box {
        width: 335px;
        height: 79px;
        gap: 8px;
    }
    .text_box {
        font-size: 22px;
        font-weight: 700;
        line-height: 26px;
        letter-spacing: 0em;
        text-align: left;
        padding-bottom: 20px;
    }
    section .block {
        background-color: lightcoral;
        width: 375px;
        height: 632px;
    }
    .boxFiltres {
        width: 335px;
        height: 161px;
        padding: 20px;
    }
    .boxFiltres a {
        display: flex;
    }
    .iconsFiltres {
        width: 330px;
        height: 50px;
        align-items: center;
        text-align: center;
        gap: 1rem;
    }
    .info {
        width: 335px;
        height: 38px;
        padding-bottom: 20px;
    }
    .infobox p {
        width: 301px;
        height: 38px;
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: left;
    }
    /* SECTION BLOCK ENDS */
    .hebergements-and-populaires {
        flex-direction: column;
    }
    .hebergements {
        width: 375px;
        height: 1, 435.5px;
        padding: 20px;
        gap: 15px;
    }
    aside {
        width: 335px;
        height: px;
        padding: 0px, 0px, 15px, 0px;
        border-radius: 20px;
        gap: 4px;
    }
    aside img {
        width: 300px;
        height: 124px;
        border-radius: 20px, 20px, 0px, 0px;
        border: 5px solide #FFFFFF;
    }
    aside .card-text {
        background-color: #ffffff;
        border: 5px solid #FFFFFF;
        border-radius: 20px 20px;
        width: 300px;
        height: 64.25px;
        padding: 0px, 15px, 0px, 15px;
        gap: 8px;
    }
    .card-block-first .card-text h3 {
        font-size: 14px;
    }
    .card-block-first .card-text p {
        font-size: 12px;
    }
    .card-block-first .card-text i {
        font-size: 10px;
    }
    .populaires {
        width: 375px;
        height: 569px;
        padding: 30px, 20px, 30px, 20px;
        gap: 15px;
        margin-top: 50px;
    }
    .populaires-cards {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .populaires-cards .card-title {
        font-size: 14px;
    }
    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
    .card-content .card-text h3 {
        font-size: 10px;
    }
    .activite {
        width: 375px;
        height: 1040px;
        padding: 20px;
    }
    .hebergement_activite {
        display: flex;
        flex-direction: column;
        width: 315px;
        height: 840px;
        padding: 10px;
    }
    .activite-card-title {
        width: 315px;
        height: 30px;
        font-size: 22px;
        font-weight: 700;
        line-height: 25px;
        margin-top: 10px;
    }
    .activite-img-text {
        width: 315px;
        height: 200px;
        border-radius: 20px;
        margin-top: 10px;
        box-shadow: 0px 3px 15px 0px #0000001A;
    }
    .activite-img-text img {
        width: 100%px;
        height: 141px;
        border-radius: 20px 20px 0px 0px;
    }
    .activite-img-text p {
        font-size: 16px;
        font-weight: 700;
        line-height: 18px;
        letter-spacing: 0em;
        text-align: left;
    }
    .main-footer {
        background-color: #F2F2F2;
        width: 375px;
        height: 461px;
        display: flex;
        flex-direction: column;
        padding: 10px;
        margin-top: 20px;
    }
    .footer-links {
        flex-direction: column;
        gap: 0.5rem;
    }
    .footer-links li a {
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0em;
        text-align: left;
    }
}