/****** General ***********/

* {
    font-family: 'Raleway', sans-serif;
}

 :root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #F2F2F2;
}

.fa-solid {
    color: var(--main-color);
}

body {
    overflow-x: hidden;
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
}

.main-container {
    width: 90%;
    padding: 0% 5%;
}

a {
    color: inherit;
    text-decoration: none;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 61.09px;
    height: 19px;
}

.links li {
    list-style-type: none;
}

.links {
    display: flex;
    justify-content: space-between;
    gap: 4rem;
}

nav a:hover {
    color: var(--main-color);
    border-top: 2px solid var(--main-color);
    padding-top: 8px;
    font-weight: blod;
}

nav a {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
}

.myline {
    display: none;
}


/*HEADER END*/


/*SECTION BLOCK*/

section {
    width: 100%;
}

.text_box p {
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
}

.text_box span {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
}

.myform {
    display: flex;
    align-items: center;
}

.myform i {
    width: 26px;
    height: 18px;
    padding: 15px 15px;
    text-align: center;
    border: 1px;
    border-radius: 15px 0px 0px 15px;
    background-color: #F2F2F2;
    color: black;
}

.myform input {
    width: 147px;
    height: 17px;
    padding: 15px;
    border: 1px solid #F2F2F2;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
    color: black;
}

.myform .search_desktop {
    width: 92px;
    height: 18px;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
    padding: 15px 16px 15px 16px;
    border-radius: 0px 15px 15px 0px;
    border: 1px;
    color: #FFFFFF;
    background-color: var(--main-color);
}

.myform .search_mobile {
    display: none;
}

.iconsFiltres {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    width: 100%;
    margin-top: 30px;
    width: 100%;
}

.iconsText {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.iconsText a {
    display: flex;
    align-items: center;
    border-radius: 25px;
    border: 2px solid #D9D9D9;
    width: 170px;
    height: 50px;
    padding: 4px, 19px, 4px, 19px
}

.iconsText i {
    padding: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.iconsText a {
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
}

.iconsText a:hover {
    background-color: var(--filter-bg-color);
}

.infobox {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-top: 20px;
}

.infobox .fa-solid {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border: 1px solid #D9D9D9;
    border-radius: 100%;
    font-size: 12px;
}


/*SECTION BLOCK END */


/*Main*/

.hebergements-cards {
    display: flex;
    justify-content: space-between;
    border-radius: 15px;
    width: 100%;
    /* max-width: 1400px; */
    gap: 2rem;
}

.card-block-first {
    margin-top: 20px;
    width: 100%;
    /* max-width: 260px; */
}

aside .card-text img {
    width: 100%;
    max-width: 248px;
    height: 124px;
    object-fit: cover;
    border: 5px solid #FFFFFF;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

aside .card-text {
    width: 100%;
    max-width: 264px;
    height: 240px;
    border: 5px solid #FFFFFF;
    box-shadow: 0px 3px 15px 0px #0000001A;
    background-color: #FFFFFF;
    border-radius: 20px 20px 20px 20px;
}

h3.hebergements-card-title {
    width: 100%;
    max-width: 220px;
    height: 19px;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
}

.hebergements-card-subtitle {
    width: 100%;
    max-width: 220px;
    height: 16px;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.section-titleTwo {
    margin: 0;
    font-size: 18px;
    padding-top: 40px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.neutral-star {
    color: var(--main-bg-color)
}


/****** Hebergements And Populaires ***********/

.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}


/****** Hebergements ***********/

.hebergements {
    width: 65%;
}


/****** Populaires ***********/

.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}


/* SECTION ACTIVITE  */

.activite {
    width: 100%;
    height: 490px;
}

.hebergement_activite {
    width: 100%;
    height: 439px;
    display: flex;
    justify-content: space-around;
    gap: 1rem;
}

.activite-card-title {
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
    margin-top: 30px;
    padding-left: 20px;
}

.activite-img-text {
    width: 100%;
    height: 380px;
    border-radius: 20px;
    margin-top: 15px;
    box-shadow: 0px 3px 15px 0px #0000001A;
}

.activite-img-text img {
    width: 100%;
    height: 300px;
    border-radius: 20px 20px 0px 0px;
}

.activite-img-text p {
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    padding-left: 20px;
}


/* SECTION ACTIVITE END  */


/* FOOTER  */

.main-footer {
    background-color: var(--filter-bg-color);
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.footer-links {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 1rem;
}

.links_footer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.footer-links li a {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
}

.links_footer {
    list-style: none;
}

.footer-links li {
    list-style: none;
}


/****** Media queries ***********/


/* Medium devices (desktop, less/equal than 1024px) */

@media (max-width: 1024px) {
    .iconsFiltres {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        width: 86%;
        margin-top: 20px;
    }
    .iconsFiltresTitle {
        display: flex;
        align-items: center;
        font-family: Raleway;
        font-size: 18px;
        font-weight: 700;
        line-height: 21px;
        letter-spacing: 0em;
        text-align: center;
        width: 100%;
    }
    .iconsText {
        width: 100%;
        display: flex;
        align-items: center;
        margin: 0px;
    }
    .iconsText a {
        width: 190px;
        display: flex;
        justify-content: flex-start;
        border-radius: 25px;
        border: 2px solid #D9D9D9;
        padding: 4px, 19px, 4px, 19px
    }
    .iconsText i {
        padding: 10px;
        text-align: center;
        font-weight: bold;
        font-size: 15px;
    }
    .iconsText a {
        font-size: 16px;
        font-weight: 700;
        line-height: 21px;
        letter-spacing: 0em;
        text-align: center;
    }
    .hebergements-and-populaires {
        display: flex;
        flex-direction: column;
    }
    .hebergements {
        width: 100%;
    }
    .populaires {
        width: 100%;
        margin-top: 50px;
    }
    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 1rem;
    }
    .populaires-cards a {
        width: 30%;
    }
    /* article {
        width: 375px;
    } */
    .populaires-cards img {
        width: 90px;
        height: 140px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }
    .card-content {
        width: 183px;
        height: 140px;
    }
    .populaires-cards .card-title {
        font-size: 10px;
    }
    .populaires-cards .card-subtitle {
        font-size: 9px;
    }
    .activite {
        width: 100%;
        height: 380px;
        background-color: #FFFFFF;
    }
    .hebergement_activite {
        width: 100%;
        height: 439px;
        display: flex;
        justify-content: space-between;
        gap: 1rem;
    }
    .activite-card-title {
        font-size: 22px;
        font-weight: 700;
        line-height: 26px;
        margin-top: 30px;
        padding-left: 20px;
    }
    .activite-img-text {
        width: 100%;
        height: 270px;
        border-radius: 20px;
        margin-top: 15px;
        box-shadow: 0px 3px 15px 0px #0000001A;
    }
    .activite-img-text img {
        width: 100%;
        height: 200px;
        border-radius: 20px 20px 0px 0px;
    }
    .activite-img-text p {
        font-size: 16px;
        font-weight: 700;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: left;
        padding-left: 20px;
    }
    .main-footer {
        background-color: var(--filter-bg-color);
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
    .footer-links {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        gap: 1rem;
    }
}


/* Small devices (phones, less than 768px) */

@media (max-width: 767.98px) {
    /* header mobile */
    .main-container {
        width: 100%;
        margin: 0;
        padding: 0px;
    }
    header {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .logo {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .logo img {
        width: 61px;
        height: 19px;
        padding-left: 20px;
        padding-top: 10px;
    }
    .links {
        position: relative;
        width: 475px;
        display: flex;
        align-items: center;
        gap: 14rem;
    }
    .myline {
        display: block;
        position: absolute;
        top: 72px;
        left: 0;
        right: 0;
        border: 1px solid #F2F2F2;
    }
    nav a:hover {
        border-bottom: 2px solid var(--main-color);
    }
    /* header mobile  end */
    .text_box {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 475px;
        padding: 3%;
    }
    .text_box h1 {
        width: 100%;
        font-family: Raleway;
        font-size: 18px;
        font-weight: 700;
        line-height: 26px;
        letter-spacing: 0em;
        text-align: left;
    }
    .myform {
        width: 100%;
        height: 50px;
        padding: 0% 4% 0%;
    }
    .myform input {
        width: 100%;
        min-width: 180px;
        max-width: 310px;
        padding-right: 5px;
        border-right: 0px;
    }
    .infobox {
        width: 100%;
        padding: 3%;
        font-size: 14px;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0em;
    }
    .iconsFiltres {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        width: 86%;
        padding: 3%;
    }
    .iconsText a {
        width: 200px;
        display: flex;
        justify-content: flex-start;
        border-radius: 25px;
        border: 2px solid #D9D9D9;
        padding: 4px, 19px, 4px, 19px
    }
    .hebergements-and-populaires section {
        border-radius: 0px;
        box-sizing: border-box;
    }
    aside .card-text img {
        width: 100%;
        min-width: 140px;
        max-width: 202px;
        height: 124px;
        object-fit: cover;
        border: 5px solid #FFFFFF;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    aside .card-text {
        width: 100%;
        min-width: 194px;
        max-width: 254px;
        height: 240px;
        border: 5px solid #FFFFFF;
        box-shadow: 0px 3px 15px 0px #0000001A;
        background-color: #FFFFFF;
        border-radius: 20px 20px 20px 20px;
    }
    .activite {
        width: 100%;
        height: 380px;
        background-color: #FFFFFF;
    }
    .hebergement_activite {
        width: 100%;
        height: 439px;
        display: flex;
        justify-content: space-between;
        gap: 1rem;
    }
    .activite-img-text {
        width: 100%;
        height: 270px;
        border-radius: 20px;
        margin-top: 15px;
        box-shadow: 0px 3px 15px 0px #0000001A;
    }
    .activite-img-text img {
        width: 100%;
        height: 200px;
        border-radius: 20px 20px 0px 0px;
    }
    .main-footer {
        background-color: var(--filter-bg-color);
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
    .footer-links {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        gap: 1rem;
    }
}


/* mobile */

@media screen and (max-width:580px) {
    /* header mobile */
    .main-container {
        width: 100%;
        margin: 0;
        /* padding: 10px 10px 0px; */
        padding: 0px;
    }
    header {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .logo {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .logo img {
        width: 61px;
        height: 19px;
        padding-left: 20px;
        padding-top: 10px;
    }
    .links {
        display: flex;
        align-items: center;
        position: relative;
        width: 375px;
        justify-content: center;
        gap: 8rem;
        margin: 0;
        padding: 15px 0 10px;
    }
    .links li a {
        display: flex;
        align-items: center;
        width: 100%;
        padding: 0% 3% 0%;
    }
    .myline {
        display: block;
        position: absolute;
        top: 72px;
        left: 0;
        right: 0;
        border: 1px solid #F2F2F2;
    }
    .myform {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 3%;
        min-width: 190px;
        max-width: 316px;
        height: 50px;
    }
    .myform input {
        width: 100%;
        min-width: 180px;
        max-width: 316px;
        padding-right: 5px;
        border-right: 0px;
    }
    .infobox {
        width: 100%;
        font-size: 13px;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0em;
    }
    .text_box h1 {
        width: 100%;
        min-width: 240px;
        max-width: 475px;
        font-family: Raleway;
        font-size: 15px;
        font-weight: 700;
        line-height: 26px;
        letter-spacing: 0em;
        text-align: left;
    }
    .section-title {
        font-size: 18px;
    }
    article {
        width: 270px;
    }
    nav a:hover {
        border-bottom: 2px solid var(--main-color);
    }
    /* header mobile  end */
    /* block text section */
    .text_box {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 3%;
    }
    .myform .search_desktop {
        display: none;
    }
    .myform .search_mobile {
        display: block;
    }
    .myform .search_mobile i {
        display: flex;
        justify-content: center;
        border-radius: 15px;
        color: #FFFFFF;
        background-color: var(--main-color);
    }
    .myform i {
        width: 26px;
        height: 18px;
        padding: 15px 15px;
        text-align: center;
    }
    .iconsFiltres {
        display: flex;
        flex-direction: column;
        width: 90%;
        padding: 3%;
    }
    .iconsText {
        width: 95%;
        max-width: 375px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .iconsText a {
        width: 120px;
        border-radius: 25px;
        border: 2px solid #D9D9D9;
        padding: 3px, 16px, 3px, 16px
    }
    .iconsText i {
        padding: 8px;
        text-align: center;
        font-weight: bold;
        font-size: 14px;
    }
    .iconsText a {
        font-size: 14px;
        font-weight: 700;
        line-height: 21px;
        letter-spacing: 0em;
        text-align: center;
    }
    .hebergements-and-populaires {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        gap: 1rem;
    }
    .populaires-cards {
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
        width: 100%;
    }
    .populaires-cards .card-title {
        font-size: 16px;
    }
    .populaires-cards .card-subtitle {
        font-size: 12px;
    }
    .populaires-cards img {
        width: 100px;
    }
    .hebergements-cards {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    section .hebergements {
        width: 100%;
        background-color: #FFFFFF;
    }
    .card {
        background-color: white;
        border-radius: 20px;
        filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    }
    .hebergement_activite {
        width: 320px;
    }
    .activite-img-text img {
        width: 320px;
        object-fit: cover;
    }
    .hebergements-and-populaires section {
        border-radius: 0px;
        margin: 0;
        background-color: #FFFFFF;
    }
    aside .card-text img {
        width: 100%;
        max-width: 254px;
        height: 124px;
        object-fit: cover;
        border: 5px solid #FFFFFF;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    aside .card-text {
        width: 100%;
        max-width: 264px;
        height: 240px;
        border: 5px solid #FFFFFF;
        box-shadow: 0px 3px 15px 0px #0000001A;
        background-color: #FFFFFF;
        border-radius: 20px 20px 20px 20px;
    }
    .activite {
        width: 100%;
        height: 300vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .hebergement_activite {
        flex-direction: column;
        display: flex;
    }
    .main-footer {
        background-color: var(--filter-bg-color);
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding-top: 0;
    }
    .footer-links li a {
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: left;
    }
}